/*
# CSS für die search.php
# | Version |Datum    |Autor            | Bemerkung
# |_________|_________|_________________|_________________
# | 1.0     |25.11.18 |Albani           | Neuerstellung
*/

.ergebnis {
  width: 100%;
  border: 1px solid;
  margin-bottom: 10px;

}

.ergebnis table {
  width: 100%;
}

.img {
  width:30%;
  height:300px;
}

.ergebnis:hover {
  background-color: lightgrey;
  border-color: #D0962A;

}

.preis {
  font-size:1.5em;
  text-align:right;
}

.img img {
  width: 100%;
  height: auto;
  max-height: 300px;
}
