/*
# CSS für die search.php
# | Version |Datum    |Autor            | Bemerkung
# |_________|_________|_________________|_________________
# | 1.0     |25.11.18 |Albani           | Neuerstellung
*/

.ergebnis {
  width: 100%;
  border: 1px solid;
  margin-bottom: 10px;

}

.ergebnis table {
  width: 100%;
}

.img {
  width:30%;
  height:300px;
}

.ergebnis:hover {
  box-shadow: 5px 5px #888888;

}
.prodimg {
  height:80;
  width: 80;
}
.preis {
  font-size:1.5em;
  text-align:right;
}

.img img {
  width: 100%;
  height: 100%;
}
